body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #d7e462;
    color:black;
  }

  main {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;

}
  .boxes {
    display: flex;
    flex-direction: row;
    /* Centers along the main axis determined by flex-direction */
    justify-content: center;
    /* Centers along the opposite axis */
    align-items: center;
    width: 90%;
    /* Uses the height of the viewport */
    height: 100vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
  }



  .Wilson {
    padding: 10px;
    width: 250px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  .Bryan {
    padding: 10px;
    width: 250px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }

  .Tim-Berners-Lee {
    padding: 10px;
    width: 250px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }

  .Al-Gore {
    padding: 10px;
    width: 250px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }


  h1 {
    font-size: 200%;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 180%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;